@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
    margin: 0;
    font-size: 20px;
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    margin-left: 20px;
    color: black;
    font-size: 25px;
}

.p1 {
    font-size: 21px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(20, 20, 20);

}

img {

}

header {
    font-size: 40px;
    height: auto;
    width: 100%;
    margin-top: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    background-color: rgb(8, 8, 74);
    text-align: center;
    font-weight: bold;
}

.links {
    color: rgb(60, 168, 235);
    font-size: 10px;
    font-family: 'Red Hat Display', sans-serif;
}

.content {
    margin-left: 0px;
    padding-left: 0px;
}

.topnav {
    overflow: hidden;
    text-align: center;
    background-color: rgb(8, 8, 74);
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(13, 39, 124);
    color: white;
}

.topnav a.active {
    background-color: rgb(13, 39, 124);
    color: white;
}